<header>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{asset "img/carousel-1_opt.jpg"}}" alt="Header Image" />
                    <div class="header-content hidden-xs">
                        <div class="header-content-inner">
                            <img class="coin" src="{{asset "img/coin_brok.png"}}" alt="Brother's Keeper'" />
                            <h1>Header Text Lorem Ipsum Quisque Accumsan 1</h1>
                            <hr>
                            <p>
                                Quisque vehicula urna vulputate, maximus quam et, pharetra mi. Pellentesque consequat interdum mattis. Duis gravida...
                            </p>
                            <a href="#about" class="btn btn-primary btn-xl">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="carousel-caption visible-xs">
                          <div class="row">
                            <div class="col-xs-3">
                                <img class="img-responsive" src="{{asset "img/coin_brok.png"}}" alt="Brother's Keeper'" />
                            </div>
                            <div class="col-xs-9">
                                <h3>Header Text Lorem Ipsum Quisque Accumsan 1</h3>
                                <a href="#about" class="btn btn-primary btn-sm">
                                    Learn More
                                </a>
                            </p>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>