<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-offset-1">
                <h2 class="section-heading text-center">Rho Iota Lambda</h2>
                <p>
                    Consectetur adipiscing elit. Fusce blandit rutrum arcu vitae condimentum. Sed blandit efficitur tortor, vitae lobortis nibh aliquet ac. Integer dapibus, enim eu dapibus sollicitudin, lectus tortor porta felis, nec porta nunc erat et est. Consectetur adipiscing elit. Fusce blandit rutrum arcu vitae condimentum. Sed blandit efficitur tortor, vitae lobortis nibh aliquet ac. Integer dapibus, enim eu dapibus sollicitudin, lectus tortor porta felis, nec porta nunc erat et est. Consectetur adipiscing elit. Fusce blandit rutrum arcu vitae condimentum. Sed blandit efficitur tortor, vitae lobortis nibh aliquet ac. Integer dapibus, enim eu dapibus sollicitudin, lectus tortor porta felis, nec porta nunc erat et est.
                </p>
                <p>
                    Consectetur adipiscing elit. Fusce blandit rutrum arcu vitae condimentum. Sed blandit efficitur tortor, vitae lobortis nibh aliquet ac. Integer dapibus, enim eu dapibus sollicitudin, lectus tortor porta felis, nec porta nunc erat et est.
                </p>
            </div>
        </div>
    </div>
</section>