<section id="events" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Upcoming Events</h2>
                <hr class="light">
                <ul id="upcomingEvents" class="list-group text-faded">
                </ul>
            </div>
        </div>
    </div>
</section>