<section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rho Iota Lambda</h2>
                <hr class="light">
                <p class="text-faded">
                    Formed in 2001, the Rho Iota Lambda chapter of Alpha Phi Alpha Fraternity Inc. has always strived to serve the needs of those in the Chesterfield, VA community.  Since it's inception, Rho Iota Lambda has continuously sought to foster partnerships with community agencies, businesses, churches and the private sector through programs ran directly by the chapter and programs ran in partnership with the Rho Iota Lambda Education Foundation non-profit organization. Historically the chapter has spearheaded events such as the Junior Miss Black & Gold Pagent & Scholarship Contest, the Paul E. Robeson Oratorical Competition and the Foundation's Annual Jazz Event & Fundraiser.
                </p>
                <a href="/#projects" class="page-scroll btn btn-default btn-xl">Learn more about the work we do in the community</a>
            </div>
        </div>
    </div>
</section>