<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">National Programs</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <i class="fa fa-4x alpha-coin-brok wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>My Brother’s Keeper<sup>®</sup></h3>
                    <p class="text-muted text-left">
                        Formally called the A. Charles Haston Brother's Keeper program, this service program developed with the mission of advocating and improving
                        <span class="collapse" id="brokMore">
                                the quality of life for Alpha Phi Alpha Fraternity, Inc. brothers, their spouses, and widows who are retired, are elders, have disabilities and are ailing.
                        </span>
                        <a class="pull-right" role="button" data-toggle="collapse" href="#brokMore" aria-expanded="false" aria-controls="brokMore" style="position:relative;">
                            <i class="fa fa-caret-down"></i> 
                        </a>   
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <i class="fa fa-4x alpha-coin-vphp wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>A Voteless People is a Hopeless People<sup>®</sup></h3>
                    <p class="text-muted text-left">
                        "A Voteless People is a Hopeless People" (aka VPHP) was initiated as a National Program of Alpha during the 1930's 
                        <span class="collapse" id="vphpMore">
                            when many African-Americans had the right to vote but were prevented from voting because of poll taxes, threats of reprisal, and lack of education about the voting process. Voter education and registration has remained a dominant focus of this outreach activity for over 65 years. In the 1990's, the focus has shifted to include political awareness and empowerment, delivered most frequently through town meetings and candidate forums.
                        </span>
                        <a class="pull-right" role="button" data-toggle="collapse" href="#vphpMore" aria-expanded="false" aria-controls="vphpMore" style="position:relative;">
                            <i class="fa fa-caret-down"></i> 
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <i class="fa fa-4x alpha-coin-ghgc wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Go to High School Go to College</h3>
                    <p class="text-muted text-left">
                        The "Go-to-High-School, Go-to-College" program, established in 1922, concentrates on the
                        <span class="collapse" id="ghgcMore">
                                importance of completing secondary and collegiate education as a road to advancement.
                        </span>
                        <a class="pull-right" role="button" data-toggle="collapse" href="#ghgcMore" aria-expanded="false" aria-controls="ghgcMore" style="position:relative;">
                            <i class="fa fa-caret-down"></i> 
                        </a>    
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="service-box text-center">
                    <i class="fa fa-4x alpha-coin-proj wow bounceIn text-primary"></i>
                    <h3>Project Alpha</h3>
                    <p class="text-muted text-left">
                        This collaborative project is designed to provide education, motivation and skill-building on issues of responsibility, relationships, teen
                        <span class="collapse" id="projMore">
                            pregnancy and sexually transmitted diseases for young males ages 12-15 years. Designed to provide young men with current and accurate information about teen pregnancy prevention, Project Alpha consists of a series of workshops and informational sessions conducted by Alpha Phi Alpha Fraternity brothers.
                        </span>
                        <a class="pull-right" role="button" data-toggle="collapse" href="#projMore" aria-expanded="false" aria-controls="projMore" style="position:relative;">
                            <i class="fa fa-caret-down"></i> 
                        </a>    
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>